[submodule "modules/hdwallet"]
	path = modules/hdwallet
	url = https://github.com/keepkey/hdwallet
[submodule "modules/proto-tx-builder"]
	path = modules/proto-tx-builder
	url = https://github.com/BitHighlander/proto-tx-builder
[submodule "modules/keepkey-firmware"]
	path = modules/keepkey-firmware
	url = https://github.com/keepkey/keepkey-firmware
[submodule "modules/device-protocol"]
	path = modules/device-protocol
	url = https://github.com/keepkey/device-protocol
[submodule "modules/electrobun"]
	path = modules/electrobun
	url = https://github.com/BitHighlander/electrobun.git
